ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: silver;
}
button {
  background-color: #515A5A;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: gray;
}
.div2 {
  background-color: gray;
  width: 600px;
  height: 340px;
  position:absolute;
  border: 1px solid red;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left:28%;
  top:40%;

}
p.date {
  text-align: center;
}
.background {
background-image: url('https://i.imgur.com/0BTnEB2.jpg');
background-size: cover;
height:700px;
position:relative;
}